*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 420px;
    padding: 30px 40px;
    background-color: rgb(87, 37, 134);
    color: #ffff;
    align-items: center;
    margin: none;
    border-radius: 10px;
    

    background: transparent;
    border: 1px solid #5e5353;
    
}
.wrapper h1{
    text-align: center;
    font-family: 'TikTok Sans', sans-serif;
    font-weight: 700;
    color: rgb(6, 32, 76);
}
.wrapper  input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 30px 0;
    font-family: 'TikTok Sans', sans-serif;
    background: transparent;
    border: 2px solid rgb(251, 250, 250);
    
}
.wrapper input:hover{
    border: 2px solid #ed823a;
}
button{
    width: 100%;
    height: 40px;
    background-color: #ffff;
    border-radius: 40px;
    font-family: 'TikTok Sans', sans-serif;
    font-weight: 600;
    transition: width 2s, height 2s, transform 2s;
}
div p {
    color: #ffff;
    text-align: center;
    font-family: 'TikTok Sans', sans-serif;
    margin: 20px 0;

}
.input i{
    color: black;
   position: absolute;
   right: 20px;





}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
    background: url('img2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}
button:hover{
    
    color: #050505;
    cursor: pointer;
    box-shadow: 2px 4px 8px 0 rgba(215, 210, 210, 0.2), 2px 6px 20px 0 rgba(206, 200, 200, 0.19);
   
    
}
div a{
    color: #ffff;
    text-decoration: underline;

}
a:hover{
    color: rgba(201, 183, 45, 0.764);
    
}
.input input::placeholder{
    position: absolute;
    color:#090908e2;
    font-weight: 600;
}


    
